In [1]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\pedre\anaconda3\lib\site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in c:\users\pedre\anaconda3\lib\site-packages (from beautifulsoup4) (1.8)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install lxml

Requirement already satisfied: lxml in c:\users\pedre\anaconda3\lib\site-packages (4.3.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\pedre\anaconda3\lib\site-packages (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\pedre\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pedre\anaconda3\lib\site-packages (from requests) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\pedre\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\pedre\anaconda3\lib\site-packages (from requests) (1.24.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from bs4 import BeautifulSoup
import requests

In [5]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

In [61]:
table = soup.find('table', class_ = 'wikitable sortable')

In [23]:
import pandas as pd
import csv

In [9]:
csv_file = open('cms_scrape.csv','w')
csv_writer = csv.writer(csv_file)
csv_writer.writerow(['Postcode','Borough','Neighbourhood'])

32

In [10]:
table_rows = table.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    csv_writer.writerow(row)

In [11]:
csv_file.close()

In [74]:
df = pd.read_csv('cms_scrape.csv')
df[df.columns] = df.apply(lambda x: x.str.strip('\r\n'))
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [75]:
indexNames = df[df['Borough'] == 'Not assigned'].index

df.drop(indexNames , inplace=True)

df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [76]:
df_new= df.groupby(['Postcode','Borough']).agg(lambda x: ', '.join(x)).reset_index()
df_new.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [77]:
df_new.columns = ["PostalCode", "Borough", "Neighborhood"];

In [81]:
df_new.Neighborhood = df_new.apply(lambda x: x['Borough'] if x['Neighborhood']=='Not assigned' else x['Neighborhood'], axis=1)
df_new.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [83]:
df_new.shape

(103, 3)

## Geolocation

In [85]:
r = pd.read_csv("Geospatial_Coordinates.csv")
toronto_geoloc = pd.merge(df_new, r, left_on="PostalCode", right_on="Postal Code").drop(labels="Postal Code", axis=1)
toronto_geoloc.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476